﻿<!DOCTYPE html>
<html>
<body>
    <ul>
        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
        <li><a href="@Url.Action("Index", "Second")">Second</a></li>
        <li><a href="@Url.Action("Index", "Third")">Third</a></li>
        <li><a href="@Url.Action("Index", "Fourth")">Fourth</a></li>
        <li><a href="@Url.Action("Index", "Fifth")">Fifth</a></li>
    </ul>
    @RenderBody()
</body>
</html>